mixin Collaborate 
  .container.team.mb-8.mb-lg-9.mb-xl-10 
    .row.g-3.align-items-center
      .col-12.col-lg-6.order-2.order-lg-1
        h2.fs-4.fs-lg-3.fw-bold.text-black.lh-sm.mb-1.text-center.text-md-start  Organize remote team fast 
          span.text-nowrap & easily.
        h6.fs-8.team-sub-title.mb-5.mb-xl-6.lh-lg.text-center.text-md-start We share common trends and strategies for improving your rental income
        h5.fs-8.fw-bold.text-black.mb-1.lh-lg Create Unlimited Teams 
        p.fs-9.team-description.mb-2.mb-xl-3.lh-xl With lots of unique blocks, you can easily build a page without coding.
        h5.fs-8.fw-bold.text-black.mb-1.lh-lg  Hasslefree Chat with Everyone
        p.fs-9.team-description.lh-xl With lots of unique blocks, you can easily build a page without coding.
      .col-12.col-lg-6.text-center.order-1.order-lg-2
        img(src=`${CWD}assets/img/Hero/Collaborator.png`, alt="").img-fluid.w-75

