mixin Collaborate 
  .container.team.mb-8.mb-lg-9.mb-xl-10 
    .row.g-3.align-items-center
      .col-12.col-lg-6.order-2.order-lg-1
        h2.fs-3.fs-lg-4.fw-bold.text-black.mb-1.heading  Organize remote team fast & easily.
        p.fs-9.fs-lg-8.team-sub-title.mb-4.mb-lg-5.mb-xl-6 We share common trends and strategies for improving your rental income
        h5.fs-8.fw-bold.text-black.mb-1.sub-heading Create Unlimited Teams 
        p.fs-9.fs-lg-8.team-description.mb-4.mb-lg-5.mb-xl-6 With lots of unique blocks, you can easily build a page without coding.
        h5.fs-8.fw-bold.text-black.mb-1.sub-heading  Hasslefree Chat with Everyone
        p.fs-9.fs-lg-8.team-description.mb-4.mb-lg-5.mb-xl-6 With lots of unique blocks, you can easily build a page without coding.
      .col-12.col-lg-6.text-center.order-1.order-lg-2
        img(src=`${CWD}assets/img/Hero/Collaborator.png`, alt="").img-fluid.w-75

