mixin Collaborate 
  section.container.team.mb-8.mb-lg-13
    .row.align-items-center
      .col-12.col-lg-6.col-xl-5.text-center.order-lg-1
        img(src=`${CWD}assets/img/Hero/Collaborator.png`, alt="").img-fluid.collaborate-image
      .col-12.col-lg-6.col-xl-7
        h2.fs-4.fs-lg-3.fw-bold.mb-2.text-center.text-md-start  Organize remote team fast 
          span.text-nowrap & easily.
        h6.fs-8.opacity-70.mb-4.mb-lg-5.lh-lg.text-center.text-md-start.fw-normal Organizing and managing your remote teams has never  
          span.text-nowrap been this easy!
        h5.fs-8.fw-bold.lh-lg.mb-1 Create Unlimited Teams 
        p.fs-9.opacity-70.mb-x1.mb-lg-3.lh-xl Create unlimited teams and boost productivity with 
          span.text-nowrap efficient collaboration.
        h5.fs-8.fw-bold.lh-lg.mb-1  Hasslefree Chat with Everyone
        p.fs-9.opacity-70.lh-xl.mb-0 With unique and simple UIs, keep yourself connected across  
          span.text-nowrap all the teams.
      

