mixin Counter 

  section.container.border-bottom.border-bottom-gray-500.mb-8.mb-lg-10 
    .row.pb-6.pb-lg-8.g-3.g-lg-8.px-3
      .col-12.col-sm-6.col-lg-4
        h2.fs-3.fw-bold.lh-sm.mb-2.text-center(data-countup!={endValue: 6, prefix: '0'}) 0
        h6.fs-8.fw-normal.lh-lg.mb-0.opacity-70.text-center.line-clamp-2 Offices are available on
          br.d-sm-none 
          span.text-nowrap different countries
      
      .col-12.col-sm-6.col-lg-4
        h2.fs-3.fw-bold.lh-sm.mb-2.text-center(data-countup!={endValue: 238}) 0
        h6.opacity-70.fs-8.fw-normal.lh-lg.mb-0.text-center.line-clamp-2 Seats are available right now with 
          span.text-nowrap  dedicated support
      
      .col-12.col-sm-12.col-lg-4
        h2.fs-3.fw-bold.lh-sm.mb-2.text-center(data-countup!={endValue: 1395, autoIncreasing: true}) 0
        h5.opacity-70.fs-8.fw-normal.lh-lg.mb-0.text-center.line-clamp-2 People are using our co-work spaces
          br.d-lg-none 
          span.text-nowrap  right now