mixin Counter 

  .counter.mb-8.mb-lg-9.mb-xl-10
    .container 
      .row.pb-6.pb-lg-7.pb-xl-8.g-2.g-lg-4
        .col-12.col-lg-4.d-flex.gap-x1.gap-lg-3.justify-content-center.align-items-center.align-items-lg-start
          h2.fs-3.text-black.fw-bold.lh-sm(data-countup!={endValue: 1, suffix: 'M+'}) 0
          h6.text-black.fs-9.fw-normal.lh-xl Customers visit Albino every months
        
        .col-12.col-lg-4.d-flex.gap-x1.gap-lg-3.justify-content-center.align-items-center.align-items-lg-start
          h2.fs-3.text-black.fw-bold.lh-sm(data-countup!={endValue: 93, suffix: '%'}) 0
          h6.text-black.fs-9.fw-normal.lh-xl Satisfaction rate from our customers.
        
        .col-12.col-lg-4.d-flex.gap-x1.gap-lg-3.justify-content-center.align-items-center.align-items-lg-start
          h2.fs-3.text-black.fw-bold.lh-sm(data-countup!={endValue: 4.9, decimalPlaces: 1}) 0
          h5.text-black.fs-9.fw-normal.lh-xl Average customer ratings out of 5.00!