
include ./Accordion 

mixin List({label, description}) 

  .d-flex.gap-1.gap-lg-x1.mb-4.mb-lg-5 
    div
      .check-parent.fs-9.d-flex.align-items-center.justify-content-center 
        span.uil.uil-check.text-white
    div 
      h5.fs-8.fw-bold.lh-lg.list-heading.text-white= label 
      p.fs-9.lh-xl.description.mb-0= description
mixin FAQ
  -
    var items = [
      {
        label: 'Noise Free Locations',
        description: 'With lots of unique blocks, you can easily build a page without coding.',
      },
      {
        label: '24/7 Hour Support',
        description: 'With lots of unique blocks, you can easily build a page without coding.',
      }
    ]
  .bg-black.faq 
    .container
      .row.py-9.py-10
        .col-12.col-lg-6
          h2.text-white.fs-4.fs-lg-3.lh-sm.mb-1.text-center.text-lg-start.fw-bold We are always here for 
            span.text-nowrap your backup.
          .text-container
            h6.fs-8.sub-title.mb-4.mb-lg-5.mb-xl-6.fw-normal.lh-lg.mb-6.mb-lg-7.text-center.text-lg-start  We share common trends and strategies for creating & improving your rental income.
            each item in items 
              +List(item)
        
        .col-12.col-lg-6
            +Accordion