
include ./Accordion 

mixin List({label, description}) 

  .d-flex.gap-2.gap-lg-x1.mb-4.mb-lg-5 
    div
      .check-icon.bg-success.mb-1.rounded-circle.d-flex.align-items-center.justify-content-center 
        span.uil.uil-check.text-white
    div 
      h5.fs-8.fw-bold.lh-lg.mb-1.text-white= label 
      p.lh-xl.text-white.text-opacity-70.mb-0= description
mixin FAQ
  -
    var items = [
      {
        label: 'Noise Free Locations',
        description: 'We ensure noise-free locations for your peace of mind and sound sleep.',
      },
      {
        label: '24/7 Hour Support',
        description: 'Get support from our efficient customer support team, 24/7, all year round.',
      }
    ]
  section.bg-1100 
    .container
      .row.py-8.py-md-10.py-lg-11
        .col-lg-6
          .row.justify-content-center.justify-content-lg-start
            .col-md-8.col-lg-12.col-xl-11
              h2.text-white.fs-4.fs-lg-3.lh-sm.mb-2.text-center.text-lg-start.fw-bold We are always here for your backup.
              p.fs-8.text-white.text-opacity-65.mb-4.mb-md-6.mb-lg-7.lh-lg.mb-6.mb-lg-7.text-center.text-lg-start  We share common trends and strategies for creating & improving your text-nowrap rental income.
          .row 
            .col-lg-10
              each item in items 
                +List(item)
        
        .col-lg-6
            +Accordion