mixin Pricing 
  section#pricing.pricing.position-relative.z-0
    .container.py-8.py-lg-10 
      h3.fs-4.fs-lg-3.fw-bold.text-center.mb-2.mb-lg-x1.lh-sm Pricing made easy
      h6.fs-8.opacity-70.mb-7.mb-lg-8.text-center.lh-lg.fw-normal Show your pricing to your customers once they’re here with easily 
        span.text-nowrap modifiable pricing cards. 
      .d-flex.flex-column.flex-md-row.justify-content-center.align-items-center.gap-3 
        .p-x1.text-center.price-card-1.bg-transparent.border.mb-3.mb-md-0
          p.fs-10.text-uppercase.mb-3.fw-bold.text-primary.heading  Starter
          p.mb-x1.price
            span.dollar.fs-6.fs-md-7.fw-bold $
            span.number.fs-2.fs-md-1.fw-bold 19
            span.duration.fs-9.lh-xl / mo
          p.fs-8.mb-0.lh-xl.fw-light.list.border-top  Upto 100 Team Members
          p.fs-8.mb-0.lh-xl.fw-light.list.border-top  100 GB Cloud Storage
          p.fs-8.mb-0.lh-xl.fw-light.list.border-top  Unlimited Meetings
          p.fs-8.mb-0.lh-xl.fw-light.list.border-top  Premium Support
          .d-grid.mt-1 
            button.btn.btn-secondary.btn-lg.lh-xl Get Started Now
        .p-x1.text-center.price-card-2.bg-white.border 
          p.fs-10.text-uppercase.mb-3.fw-bold.text-primary.heading  Unlimited
          p.mb-x1.price
            span.dollar.fs-6.fs-md-7.fw-bold $
            span.number.fs-2.fs-md-1.fw-bold 99
            span.duration.fs-9.lh-xl / mo
          p.fs-8.mb-0.lh-xl.fw-light.list.border-top  Unlimited Team Members
          p.fs-8.mb-0.lh-xl.fw-light.list.border-top  Unlimited Cloud Storage
          p.fs-8.mb-0.lh-xl.fw-light.list.border-top  Unlimited Meetings
          p.fs-8.mb-0.lh-xl.fw-light.list.border-top  Premium Support
          .d-grid.mt-1
            button.btn.btn-primary.btn-lg.lh-xl Get Started Now
    


