mixin Subscription 
  .subscription.position-relative.z-0
    .container
      .row.py-8.py-lg-9
        .col-12.col-md-4.offset-md-4.d-flex.align-items-center 
          h2.text-black.fs-4.fs-lg-3.fw-bold.text-center.mb-1.mb-lg-2.lh-sm Get latest updates
          h6.fs-9.fs-lg-8.description.mb-6.mb-lg-7.mb-xl-8.text-center.lh-lg.text-nowrap  With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
          form(action="#!")
            . 


  .position-absolute.bottom-0.end-0.z-n1
      img(src=`${CWD}assets/img/illustrations/Green_dots.svg`, alt="")
    .wave-container.position-relative.bottom-0.start-0.z-1
      img(src=`${CWD}assets/img/illustrations/Wave_3.svg`, alt="").img-fluid.w-100