mixin Team 
  .container.team.mb-8.mb-lg-9.mb-xl-10 
    .row.g-3.align-items-center
      .col-12.col-lg-6.text-center 
        img(src=`${CWD}assets/img/Hero/Team.png`, alt="").img-fluid
      .col-12.col-lg-6
        h2.fs-3.fs-lg-4.fw-bold.text-black.mb-1.heading  Collaborate with team members.
        p.fs-9.fs-lg-8.team-sub-title.mb-4.mb-lg-5.mb-xl-6 We share common trends and strategies for improving your rental income
        h5.fs-8.fw-bold.text-black.mb-1.sub-heading Project Based Groups 
        p.fs-9.fs-lg-8.team-description.mb-4.mb-lg-5.mb-xl-6 With lots of unique blocks, you can easily build a page without coding.
        h5.fs-8.fw-bold.text-black.mb-1.sub-heading  Unlimited Video Meetings
        p.fs-9.fs-lg-8.team-description.mb-4.mb-lg-5.mb-xl-6 With lots of unique blocks, you can easily build a page without coding.

