mixin Team 
  .container.team.mb-6.mb-lg-7.mb-xl-8
    .row.g-3.align-items-center
      .col-12.col-lg-6.text-center 
        img(src=`${CWD}assets/img/Hero/Team.png`, alt="").img-fluid
      .col-12.col-lg-6
        h2.fs-4.fs-lg-3.fw-bold.text-black.lh-sm.mb-1.text-center.text-md-start  Collaborate with 
          span.text-nowrap team members.
        h6.fs-8.team-sub-title.mb-5.mb-xl-6.lh-lg.text-center.text-md-start We share common trends and strategies for improving your rental income
        h5.fs-8.fw-bold.text-black.mb-1.lh-lg Project Based Groups 
        p.fs-9.team-description.mb-2.mb-xl-3.lh-xl With lots of unique blocks, you can easily build a page without coding.
        h5.fs-8.fw-bold.text-black.mb-1.lh-lg  Unlimited Video Meetings
        p.fs-9.team-description.lh-xl With lots of unique blocks, you can easily build a page without coding.

