mixin Team 
  section#about.container.mb-8.mb-lg-13
    .row.align-items-center
      .col-12.col-lg-6.col-xl-7.text-center.text-lg-start
        img(src=`${CWD}assets/img/Hero/Team.png`, alt="").img-fluid.team-image
      .col-12.col-lg-6.col-xl-5
        h2.fs-4.fs-lg-3.fw-bold.mb-2.text-center.text-md-start Collaborate with 
          span.text-nowrap team members.
        h6.fs-8.opacity-70.mb-4.mb-lg-5.lh-lg.text-center.text-md-start.fw-normal We share common trends and strategies for improving your 
          span.text-nowrap rental income
          h5.fs-8.fw-bold.lh-lg.mb-1 Project Based Groups 
          p.fs-9.opacity-70.mb-x1.mb-lg-3.lh-xl You can use this module to monitor ongoing  
            span.text-nowrap projects seamlessly.
          h5.fs-8.fw-bold.lh-lg.mb-1  Unlimited Video Meetings
          p.fs-9.opacity-70.lh-xl.mb-0 Conduct unlimited video meetings with us for better 
            span.text-nowrap business operations.

