mixin Team 
  section#about.container.mb-8.mb-lg-13
    .row.align-items-center
      .col-12.col-lg-6.col-xl-7
        img(src=`${CWD}assets/img/Hero/Team.png`, alt="").img-fluid
      .col-12.col-lg-6.col-xl-5
        .row.justify-content-center.justify-content-lg-start
          .col-sm-10.col-md-8.col-lg-12
            h2.fs-4.fs-lg-3.fw-bold.mb-2.text-center.text-lg-start Collaborate with team members.
            p.fs-8.mb-4.mb-lg-5.lh-lg.text-center.text-lg-start.fw-normal We share common trends and strategies for improving your rental income
          .col-12
            .mb-x1.mb-lg-3
              h5.fs-8.fw-bold.lh-lg.mb-1 Project Based Groups 
              p.mb-0.lh-xl You can use this module to monitor ongoing projects seamlessly.
            div
              h5.fs-8.fw-bold.lh-lg.mb-1  Unlimited Video Meetings
              p.lh-xl.mb-0 Conduct unlimited video meetings with us for better business operations.

