mixin Team 
  section#about.container.team.mb-8.mb-lg-13
    .row.g-3.align-items-center
      .col-12.col-lg-6.col-xl-7.text-center.text-lg-start
        img(src=`${CWD}assets/img/Hero/Team.png`, alt="").img-fluid.team-image
      .col-12.col-lg-6.col-xl-5
        .details
          h2.fs-4.fs-lg-3.fw-bold.text-black.lh-sm.mb-2.text-center.text-md-start Collaborate with 
            span.text-nowrap team members.
          h6.fs-8.team-sub-title.mb-4.mb-lg-5.lh-lg.text-center.text-md-start.fw-normal We share common trends and strategies for improving your 
            span.text-nowrap rental income
          .details-term
            h5.fs-8.fw-bold.text-black.lh-lg.mb-xs Project Based Groups 
            p.fs-9.team-description.mb-x1.mb-lg-3.lh-xl With lots of unique blocks, you can easily build a page without coding.
            h5.fs-8.fw-bold.text-black.lh-lg.mb-xs  Unlimited Video Meetings
            p.fs-9.team-description.lh-xl.mb-0 With lots of unique blocks, you can easily build a page without coding.

