mixin WorkProcess 
  section.container.mb-8.mb-lg-11
    .row.justify-content-center
      .col-md-8.col-lg-7
        h3.fs-4.fs-lg-3.fw-bold.text-center.mb-2.mb-lg-x1  How does 
          span.text-nowrap it work?
        p.fs-8.mb-7.mb-lg-8.text-center.lh-lg You can use this as it is or tweak it as you seem necessary. you seem necessary.
      .col-12
        .row.g-sm-2.g-lg-3.align-items-center.timeline 
          .col-12.col-lg-4.d-flex.flex-row.flex-lg-column.justify-content-center.gap-2.gap-sm-x1.gap-md-4.gap-lg-0
            .timeline-step-1.w-25.w-lg-100.mb-4.mb-lg-5.mb-xl-6
                .timeline-item.d-flex.justify-content-center
                  .timeline-icon.bg-primary.rounded-circle.d-flex.justify-content-center.align-items-center
                    span.fs-6.fs-lg-5.fs-xl-4.text-white  1
            .py-1.py-lg-0.px-lg-5.w-75.w-sm-50.w-lg-100.timeline-content  
              h6.fs-8.fw-bold.text-lg-center.lh-lg.mb-2 Install App
              p.text-lg-center.lh-xl.mb-0 Install the app with a single click.
          .col-12.col-lg-4.d-flex.flex-row.flex-lg-column.justify-content-center.gap-2.gap-sm-x1.gap-md-4.gap-lg-0
            .timeline-step-2.w-25.w-lg-100.mb-4.mb-lg-5.mb-xl-6
                .timeline-item.d-flex.justify-content-center
                  .timeline-icon.bg-success.rounded-circle.d-flex.justify-content-center.align-items-center
                    span.fs-6.fs-lg-5.fs-xl-4.text-white  2
            .py-1.py-lg-0.px-lg-5.w-75.w-sm-50.w-lg-100.timeline-content 
              h6.fs-8.fw-bold.text-lg-center.lh-lg.mb-2 Add Team Members
              p.text-lg-center.lh-xl.mb-0 Start with adding team members to 
                span.text-nowrap your channels. 
          .col-12.col-lg-4.d-flex.flex-row.flex-lg-column.justify-content-center.gap-2.gap-sm-x1.gap-md-4.gap-lg-0
            .timeline-step-3.position-relative.z-1.overflow-hidden.w-25.w-lg-100.mb-4.mb-lg-5.mb-xl-6
                .timeline-item.d-flex.justify-content-center
                  .timeline-icon.bg-info.rounded-circle.d-flex.justify-content-center.align-items-center
                    span.fs-6.fs-lg-5.fs-xl-4.text-white  3
            .py-1.py-lg-0.px-lg-5.w-75.w-sm-50.w-lg-100.timeline-content 
              h6.fs-8.fw-bold.text-lg-center.lh-lg.mb-2 Start Rolling
              p.text-lg-center.lh-xl.mb-0 Start operating your business in a simpler way 
                span.text-nowrap and grow!

