mixin WorkProcess 
  .container.work-process.mb-8.mb-lg-9.mb-xl-10
    h3.text-black.fs-4.fs-lg-3.fw-bold.text-center.mb-1.mb-lg-2.heading  How does it work?
    p.fs-9.fs-lg-8.mb-6.mb-lg-7.mb-xl-8.text-center.sub-heading With lots of unique blocks, you can easily build a page without coding.
    .row.gy-2.g-lg-3.align-items-center 
      .col-12.col-lg-4.progress-item.d-flex.flex-row.flex-lg-column.gap-4.gap-sm-7.gap-md-9.gap-lg-0
        .progress-bar.mb-4.mb-lg-5.mb-xl-6
            div.indicator-parent.d-flex.justify-content-center
              div.indicator.bg-danger
                span.fs-6.fs-lg-5.fs-xl-4.text-white  1
        div 
          h6.fs-8.fs-lg-7.text-black.fw-bold.mb-1.text-center.progress-heading Install App
          p.fs-10.fs-lg-9.text-center With lots of unique blocks, you can easily build a page without coding.
      .col-12.col-lg-4.progress-item.d-flex.flex-row.flex-lg-column.gap-4.gap-sm-7.gap-md-9.gap-lg-0
        .progress-bar-2.mb-4.mb-lg-5.mb-xl-6
            div.indicator-parent.d-flex.justify-content-center
              div.indicator.bg-success
                span.fs-6.fs-lg-5.fs-xl-4.text-white  2
        div 
          h6.fs-8.fs-lg-7.text-black.fw-bold.mb-1.text-center.progress-heading Add Team Members
          p.fs-10.fs-lg-9.text-center With lots of unique blocks, you can easily build a page without coding.
      .col-12.col-lg-4.progress-item.d-flex.flex-row.flex-lg-column.gap-4.gap-sm-7.gap-md-9.gap-lg-0
        .progress-bar-3.mb-4.mb-lg-5.mb-xl-6
            div.indicator-parent.d-flex.justify-content-center
              div.indicator.bg-primary
                span.fs-6.fs-lg-5.fs-xl-4.text-white  3
        div 
          h6.fs-8.fs-lg-7.text-black.fw-bold.mb-1.text-center.progress-heading Start Rolling
          p.fs-10.fs-lg-9.text-center With lots of unique blocks, you can easily build a page without coding.

