mixin WorkProcess 
  .container.work-process.mb-8.mb-lg-9.mb-xl-10
    h3.text-black.fs-4.fs-lg-3.fw-bold.text-center.mb-1.mb-lg-2.lh-sm  How does it work?
    p.fs-8.mb-6.mb-lg-7.mb-xl-8.text-center.lh-lg With lots of unique blocks, you can easily build a page without coding.
    .row.g-sm-2.g-lg-3.align-items-center 
      .col-12.col-lg-4.progress-item.d-flex.flex-row.flex-lg-column.gap-4.gap-sm-7.gap-md-9.gap-lg-0
        .progress-bar.mb-4.mb-lg-5.mb-xl-6
            div.indicator-parent.d-flex.justify-content-center
              div.indicator.bg-primary
                span.fs-6.fs-lg-5.fs-xl-4.text-white  1
        div.py-1.py-lg-0 
          h6.fs-7.text-black.fw-bold.text-lg-center.lh-lg Install App
          p.fs-9.text-lg-center.lh-xl.mb-0 With lots of unique blocks, you can easily build a page without coding.
      .col-12.col-lg-4.progress-item.d-flex.flex-row.flex-lg-column.gap-4.gap-sm-7.gap-md-9.gap-lg-0
        .progress-bar-2.mb-4.mb-lg-5.mb-xl-6
            div.indicator-parent.d-flex.justify-content-center
              div.indicator.bg-success
                span.fs-6.fs-lg-5.fs-xl-4.text-white  2
        div.py-1.py-lg-0 
          h6.fs-7.text-black.fw-bold.text-lg-center.lh-lg Add Team Members
          p.fs-9.text-lg-center.lh-xl.mb-0 With lots of unique blocks, you can easily build a page without coding.
      .col-12.col-lg-4.progress-item.d-flex.flex-row.flex-lg-column.gap-4.gap-sm-7.gap-md-9.gap-lg-0
        .progress-bar-3.mb-4.mb-lg-5.mb-xl-6
            div.indicator-parent.d-flex.justify-content-center
              div.indicator.bg-info
                span.fs-6.fs-lg-5.fs-xl-4.text-white  3
        div.py-1.py-lg-0 
          h6.fs-7.text-black.fw-bold.text-lg-center.lh-lg Start Rolling
          p.fs-9.text-lg-center.lh-xl.mb-0 With lots of unique blocks, you can easily build a page without coding.

