mixin Footer 

  footer.Footer.bg-white.pt-7.pt-lg-8 
    .container
      .row.g-2.g-md-6.footer-top.justify-content-center
        .col-6.col-md-4.col-lg-2.mb-4.mb-lg-0
          h5.fs-9.mb-1.heading Company
          .divider  
            a(href="#").links About us
          .divider  
            a(href="#about").links  Contact us
          .divider  
            a(href="#products").links Careers
          .divider  
            a(href="#review").links Press
          
        .col-6.col-md-4.col-lg-2.mb-4.mb-lg-0
          h5.fs-9.mb-1.heading Product
          .divider  
            a(href="#!").links Features
          .divider  
            a(href="#!").links  Pricing
          .divider  
            a(href="#!").links  News
          .divider  
            a(href="#!").links  Help desk
          .divider
            a(href="#!").links  Support

        .col-6.col-md-4
          h5.fs-9.mb-1.heading  Legal
          .divider  
            a(href="#!").links Privacy
          .divider  
            a(href="#!").links  Terms & Conditions
          .divider  
            a(href="#!").links  Return Policy

        .col-6.col-md-12.col-lg-4.d-md-flex.flex-column.align-items-md-center.d-lg-block
            div 
              h5.fs-9.mb-1.heading  Download Our App
              .spacer 
                +Button('assets/img/logos/App_Store.png')
              +Button('assets/img/logos/Play_Store.png')
      .row 
        .d-md-flex.justify-content-between.align-items-center.py-3 
          .text-center.text-md-start 
            span.text-black.copyright  © 2024 Copyright, All Right Reserved, Made by Seju_ui_ux with
            img(src=`${CWD}assets/img/icons/Heart.svg`, alt="")
          .mt-2.mt-md-0.text-center.text-md-end
            a(href='#!').icons
              span.uil.uil-twitter 
            a(href='#!').icons
              span.uil.uil-instagram
            a(href='#!').icons
              span.uil.uil-linkedin



                        
                      
        

