mixin Footer 

  footer.pt-7.pt-lg-8 
    .container
      .row.gy-4.g-md-3.border-bottom.pb-8.pb-lg-9.justify-content-center
        .col-6.col-md-3
          p.mb-2.lh-lg.ls-1 Company
          ul.list-unstyled.text-1100
            li.mb-1  
              a(href="#about").ls-1.lh-xl About us
            li.mb-1  
              a(href="#contact").ls-1.lh-xl  Contact us
            li.mb-1  
              a(href="#!").ls-1.lh-xl Careers
            li.mb-1  
              a(href="#!").ls-1.lh-xl Press
          
        .col-6.col-md-3
          p.mb-2.lh-lg Product
          ul.list-unstyled.text-1100 
            li.mb-1  
              a(href="#!").ls-1.lh-xl Features
            li.mb-1  
              a(href="#!").ls-1.lh-xl  Pricing
            li.mb-1  
              a(href="#!").ls-1.lh-xl  News
            li.mb-1  
              a(href="#!").ls-1.lh-xl  Help desk
            li.mb-1
              a(href="#!").ls-1.lh-xl  Support

        .col-6.col-md-3
          p.mb-2.lh-lg  Legal
          ul.list-unstyled.text-1100
            li.mb-1  
              a(href="#!").ls-1.lh-xl Privacy
            li.mb-1  
              a(href="#!").ls-1.lh-xl  Terms & Conditions
            li.mb-1  
              a(href="#!").ls-1.lh-xl  Return Policy

        .col-6.col-md-3.d-md-flex.flex-column.align-items-md-end.pe-md-0
            div 
              p.mb-2.lh-lg  Download Our App
              .mb-1.mb-lg-2 
                +Button('assets/img/logos/App_Store.png')
              +Button('assets/img/logos/Play_Store.png')
      .row.gy-2.py-3.justify-content-center.justify-content-md-between
        .col-auto.ps-0
            p.text-center.text-md-start.lh-xl.text-1100  © 2024 Copyright, All Right Reserved, Made by 
              a.fw-semi-bold(href="https://themewagon.com") ThemeWagon ❤️
        .col-auto.pe-0
            a(href='#!').icons.fs-8.me-3.me-md-0.ms-md-3.cursor-pointer
              span.uil.uil-twitter 
            a(href='#!').icons.fs-8.me-3.me-md-0.ms-md-3.cursor-pointer
              span.uil.uil-instagram
            a(href='#!').icons.fs-8.me-3.me-md-0.ms-md-3.cursor-pointer
              span.uil.uil-linkedin 
          



                        
                      
        

