append variables
  - var theme = `${name}-${version}`;
  - var bootstrapVersion = '5.3';
  - var attrsMain = { id: 'top', class: 'main' };
  - var attrsLayout = { class: 'bg-white' }
  - var colors = ['primary', 'secondary', 'success', 'info', 'warning', 'danger', 'light', 'dark'];
  - var grays = [ 1100, 1000, 900, 800, 700, 600, 500, 400, 300, 200, 100 ];
  - var colorsAll = colors.concat(grays);
  -
    var themeColor =  {
      primary: '#F74D4D',
      secondary: '#E3A476',
      success: '#68D585',
      info: '#473BF0',
      warning: '#FFDA91',
      danger: '#f71C1C',
      light: '#f9fafd',
      dark: '#2F2F2F',
    }

  - var footer = true;
  - var pathName = (locals.filename || locals.history[0]).split('\\').join('/').split('src/pug/').pop().split('.pug').shift();
  - var pageTree = pathName.split('/');
  - var pageName = pathName.split('/').pop();
  - var CWD = pageTree.slice(1).map(() => '../').join('');