mixin LayoutContent  


  block wrapperContent
    block beforeContent

    .content()&attributes(attrsContent)

      block navbarTop 
        +Navbar

      block content
      +ScrollTop
      +Footer 

    block afterContent
