
.btn {
  display: flex;
  justify-content: center;
  padding: 13px 24px;
  color: $white;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
  &:hover, &:active{
    background-color: map-get($theme-colors, 'success') !important;
    color: $white;
  }
}

.btn {
  --#{$prefix}btn-border-width: var(--#{$prefix}border-width);
}



// disabled btn box shadow
.btn {
  &:disabled {
    @include box-shadow(var(--#{$prefix}btn-box-shadow));
  }
}


.store-button{
  border-radius: 6px;
  background-color: transparent;
  position: static;
  z-index: 99999;
}
.scroll-to-top{
  position: fixed;
  right: 2%;
  bottom: 5%;
  padding: 0;
  height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 218, 145, 0.7);
  border-radius: map-get($border-radiuses, 'circle');
  transition: background-color 0.2s ease-in;
  z-index: 1120;
  
  span{
    font-size: 23px;
  }

  &:hover{
    background-color: rgba(255, 218, 145, 1);
  }

}