




.btn {
  --#{$prefix}btn-border-width: var(--#{$prefix}border-width);
}



// disabled btn box shadow
.btn {
  &:disabled {
    @include box-shadow(var(--#{$prefix}btn-box-shadow));
  }
}


.store-button{
  border-radius: 6px;
  background-color: transparent;
  position: static;
  z-index: 100;
}
.scroll-to-top{
  position: fixed;
  right: 2%;
  bottom: 5%;
  padding: 0;
  height: 40px;
  width: 40px;
  transition: opacity 0.2s ease-in;
  z-index: 1120;
  
  span{
    font-size: 23px;
  }

  &:hover{
    background-color: shade-color(map-get($theme-colors, 'primary' ), 30%) !important;
  }

}
