

.navbar-btn {
  @extend .btn-lg;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  width: 150px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,&:focus, &:active{
    background-color: shade-color(map-get($theme-colors, 'primary'), 30%) !important;
    color: $white !important;
    border-color: transparent
  }
  @include media-breakpoint-up(sm){
    height: 50px;
    width: 174px;
  }
}
.primary-btn {
  @extend .btn-lg;
  font-size: 16px;
  font-weight: bold;
  min-width: 195px;
  height: 59px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,&:focus, &:active{
    background-color: shade-color(map-get($theme-colors, 'primary'), 30%) !important;
    color: $white !important;
    border-color: transparent
  }
}

.secondary-btn{
  @extend .btn-lg;
  font-size: 16px;
  font-weight: bold;
  width: 219px;
  height: 59px;
  background-color:  #2E2F33;
  &:hover,&:focus, &:active{
    background-color: #000;
    color: $white !important;
  } 
}

.btn {
  --#{$prefix}btn-border-width: var(--#{$prefix}border-width);
}



// disabled btn box shadow
.btn {
  &:disabled {
    @include box-shadow(var(--#{$prefix}btn-box-shadow));
  }
}


.store-button{
  border-radius: 6px;
  background-color: transparent;
  position: static;
  z-index: 100;
}
.scroll-to-top{
  position: fixed;
  right: 2%;
  bottom: 5%;
  padding: 0;
  height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: map-get($theme-colors, 'primary' ) !important;
  border-radius: map-get($border-radiuses, 'circle');
  transition: opacity 0.2s ease-in;
  z-index: 1120;
  
  span{
    font-size: 23px;
  }

  &:hover{
    background-color: shade-color(map-get($theme-colors, 'primary' ), 30%) !important;
  }

}