
.hero-section{
  .hero-background{
    background-image:url('../img/illustrations/BG.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60rem;
    display: flex;
    z-index: 0;
    align-items: center;
  }
  .chat-image{
    width: 90%;
  }
  .dots{
    top: -5%;
    right: 15%;
    z-index: -10;
  }@include media-breakpoint-up(md){
    .chat-image{
      width: 60%;
    }
  }
  @include media-breakpoint-up(lg){
    .chat-image{
      width: 100%;
    }
    z-index: 0;  
    .dots{
      right: -8%;
    }
  }
  @include media-breakpoint-up(xl){
    .chat-image{
      width: 80%;
    }
    .dots{
      right: 0%;
    }
  }
}
.wave{
  width: 110% !important;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.timeline {
    .timeline-step-1, .timeline-step-2 {
      position: relative;
      z-index: 0;
      overflow: visible;
      .timeline-item {
        &::before{
          content: '';
          position: absolute;
          height: 100%;
          border-left: 3px dashed #D5D7DD;
          // border-image: url('/assets/img/illustrations/border.png') 2 round;
          left: 50%;
          bottom: -50%;
          z-index: -1;
          @include media-breakpoint-up(sm){
            bottom: -80%;
          }
        }
        @include media-breakpoint-up(lg) {
          align-items: center;
          &::before{
            content: '';
            position: absolute;
            width: 100%;
            border-left: none;
            height: fit-content;
            border-bottom: 3px dashed #D5D7DD;
            border-image: url('../img/illustrations/border.webp') 20 round;
            left: 50%;
            bottom: 50%;
            z-index: -1;
          }
        }
      }
    }
    .timeline-icon {
      width: 4.563rem;
      height: 4.563rem;
    }
    @include media-breakpoint-up(lg){
      .timeline-content{
        min-height: 8.438rem;
      }
    }
  }

.experience{
  background: linear-gradient(to bottom,#313C59, #161C2D );
  
  .dots{
      left: -5%;
      bottom: -5%;
      z-index: -1;
  }
}
.play-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  z-index: 999;
  padding: 0;
  @include media-breakpoint-up(md){
    width: 5rem;
    height: 5rem;
  }
}

.horizontal-rule{
  width: 10.06rem;
  height: 3px;
  background-color: rgba($white, 0.15);
}
.underline{
  position: relative;
  z-index: 0;
}
.underline::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  right: 0;
  left: -5px;
  bottom: 20%;
  background-color: map-get($theme-colors, 'success' );
  z-index: -1;
}

.pricing-card{
  width: 100%;
  max-width: 21.875rem;
}

.check-icon{
  height: 1.875rem;
  width: 1.875rem;
}
.swiper-theme-container{
  height: 21.875rem !important;
  width: 37.5rem !important;
  overflow: hidden;
  .swiper{
    height: 100%;
    width: 100%;
    margin: auto;
  }
  @include media-breakpoint-up(md){
    width: 45.65rem !important;
  }
  @include media-breakpoint-up(lg){
    width: 45.65rem !important;
    height: 37.5rem !important;
    margin: auto;
  }
}

.swiper-slide{
  
  margin: auto;
  border: 1px solid #57595E;
  color: $gray-1100;
  border-radius: map-get($border-radiuses, 3 );
  overflow: hidden;
  background-color: rgba($white, 0.50);
  transition: background-color 0.2s ease-in-out;
  @include hover-focus{
    background-color: $white;
  }
  .card-image{
    width: 5.6rem;
    height: 5.6rem;
    border: 2px solid #979797;
    @include media-breakpoint-up(lg){
    width: 6.938rem;
    height: 6.938rem;
    }
  }
}
.swiper-slide-active {
  background-color: $white; 
 }

 .swiper-slide-next, .swiper-slide-prev{
  background-color: rgba($white, 0.70);
  transition: background-color 0.2s ease-in-out;
  @include hover-focus{
    background-color: $white;
  }
}
