

/* -------------------------------------------------------------------------- */
/*                                   Accordion                                */
/* -------------------------------------------------------------------------- */
.accordion{
  border-top: 5px solid   var(--#{$prefix}success);
  border-radius: var(--#{$prefix}border-radius) ;
}

.accordion-button:not(.collapsed){
  box-shadow: none;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid var(--#{$prefix}gray-500);

  &:last-of-type {
    border-bottom-left-radius: var(--#{$prefix}border-radius) ;
    border-bottom-right-radius: var(--#{$prefix}border-radius) ;
    .accordion-button.collapsed{
      border-bottom-left-radius: var(--#{$prefix}border-radius) ;
      border-bottom-right-radius: var(--#{$prefix}border-radius) ;
    }
  }
}
