// /* -------------------------------------------------------------------------- */
// /*                                 Navbar Top                                 */
// /* -------------------------------------------------------------------------- */




.navbar-nav{
  width: 100%;
  @include media-breakpoint-up(sm){
    width: fit-content;
  }
}
.nav-item{
  display: flex;
  align-items: center;
  .nav-bar-item{
    display: inline-block;
    text-align: center;
    color: $white !important;
    font-size: 15px !important;
    line-height: 26px;
    font-weight: $font-weight-bold !important;
    &:hover{
      color: map-get($theme-colors, 'success') !important;
    }
  }
}
.active {
  color: map-get($theme-colors, 'success') !important;
  font-weight: $font-weight-bold !important;
}