// /* -------------------------------------------------------------------------- */
// /*                                 Navbar Top                                 */
// /* -------------------------------------------------------------------------- */





.nav-item{
  display: flex;
  align-items: center;
  .nav-bar-item{
    display: inline-block;
    text-align: center;
    color: $white !important;
    font-size: 16px !important;
    font-weight: $font-weight-medium;
    &:hover{
      color: map-get($theme-colors, 'success') !important;
    }
  }
}
.active {
  color: map-get($theme-colors, 'success') !important;
  font-weight: $font-weight-bold !important;
}