// /* -------------------------------------------------------------------------- */
// /*                                 Navbar Top                                 */
// /* -------------------------------------------------------------------------- */



.navbar{
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.navbar-nav{
  width: 100%;
  @include media-breakpoint-up(md){
    width: fit-content;
  }
}
.nav-item{
  border-bottom: 1px solid rgba($white, 0.5);
  &:last-child{
    border-bottom: none;
  }
  @include media-breakpoint-up(md){
    border: none;
  }
}